@page
@model Website_Assignment2.Pages.AboutModel
@{ViewData["Title"] = "About us page";
}

<h1>About us</h1>
<ul>
   
    <li>Hidetoshi Okada</li>

    <li>Andre Anu Beuttenmuller Martins</li>

    <li>Saipetch Damrongvongsawang</li>

    <li>Daniel Montenegro Guerrero</li>

</ul>

