@page
@model Website_Assignment2.Pages.CarListModel
@{
    string mainTitle = "ASP.NET Web Core JSON Demo";
}

<h1>@mainTitle</h1>

@{
    // starting our code inside this empty C# block:
    // 1. adding the page title:
    ViewData["Title"] = "Car List";
}

<h2>Car List</h2>

<div class="row products">
    <!-- looping through each product in the Products (product list): -->
    @foreach (var car in Model.Cars)
    {
        <!--
                                                12 columns in total:
                                                small-screen => 12 / 6 = 2 columns
                                                medium and above => 12 / 4 = 3 columns

                                                Link: https://github.com/anmarjarjees/bootstrap5-website-sample/blob/master/bs1-grid-system.html
                                            -->
        <div class="card col-sm-6 col-md-4">
            <!--
                                                Adding card for images
                                                      Link: https://getbootstrap.com/docs/5.3/components/card/#example

                                                      Also adding our custom CSS with inline styles:
                                                      background-image from the JSON file also:
                                                      using the razor syntax "at" to switch to C#
                                                      in order to retrieve the image property
                                                      using the loop varaible "product"
                                                -->
            <div class="card-img" style="background-image: url('@car.Image');">
            </div>
            <div class="card-body text-center">
                <h4 class="card-title">@car.Model</h4>
            </div>
        </div>
    }
</div>